{% extends 'base/main.html' %} {% block content %}

<!-- <div class="header-bar">
    <h2>Home</h2>
</div> -->

<div class="content-box">
    <h1>👋 Hi, {{ request.user|title }}.</h1>
</div>

<div class="content-box">
    <h2>{% now "jS F Y" %}</h2>
    <br>
    <div class="moon-info">
        <h1>🌑 {{ current_lunar_phase_emoji }}</h1>
        <h3>New Moon {{ current_lunar_phase_text }}</h3>
    </div>
</div>

<div class="content-box">
    <h2>Current</h2>
    <p>You are in your <strong>{{ user_phase }}follicular phase</strong>.</p>
    <p>You are on <strong>day 8{{ user_day }}</strong> of your cycle.</p>
</div>

<div class="content-box">
    <h2>Upcoming</h2>
    <p>You are <strong>{{ days }} 7 days</strong> from <strong>{{ user_phase }}ovulation</strong>.</p>
    <p>Your next <strong>{{ user_phase }}menstrual phase</strong> will begin around <strong>{{ date }}November 27</strong>.</p>
</div>

<div class="content-box">
    <h2>Reminders</h2>
    <ul>
        <li>Log BBT today</li>
        <li>Test LH in 5 days</li>
    </ul>
</div>

<div class="content-box">
    <h2>Recommendations</h2>
    <br>
    <h3>THE FOLLICULAR PHASE</h3>
    <p>Think of this phase as spring. Estrogen is rising. It's a good time to think about the big picture.</p>
    <ul>
        <li>Schedule social engagements for the upcoming week.</li>
        <li>Plan your next moves.</li>
        <li>Create something.</li>
    </ul>
</div>

{% endblock %}