{% extends 'base/main.html' %} {% block content %}
<h1>Home</h1>

<h1>Hi, {{ request.user }}</h1>
<h1>Hi, {{ first_name|title }}.</h1>

<h2>Today is {{ get_date }}.</h2>

<div class="moon-info">
    <h1>🌙 {{ current_lunar_phase_emoji }}</h1>
    <h2>Waxing Crescent {{ current_lunar_phase_text }}</h2>
</div>

<div class="user-current-phase">
    <p>You are in your {{ user_phase }}.</p>
    <p>You are on {{ user_day }} of your cycle.</p>
</div>

<div class="upcoming-dates">
    <h2>Upcoming dates:</h2>
    <table>
        <tr>
            <th>Next phase</th>
            <th>Date</th>
            <th>Days from now</th>
        </tr>
        <tr>
            <td>next phase {{ user_phase }}</td>
            <td>date {{ date_next_phase }}</td>
            <td>days {{ days_to_next_phase }}</td>
        </tr>
    </table>
</div>

<div class="reminders">
    <h2>Reminders:</h2>
    <ul>
        <li>Log BBT today</li>
        <li>Test LH in 5 days</li>
    </ul>
</div>

<div class="recommendations">
    <h2>Recommendations for the {{ user_phase.phase }} follicular phase:</h2>
    <p>Think of this phase as spring. Estrogen is rising. It's a good time to think about the big picture.</p>
    <ul>
        <li>Schedule social engagements for the upcoming week.</li>
        <li>Plan your next moves.</li>
        <li>Create something.</li>
    </ul>
</div>

{% endblock %}