{% extends 'base/main.html' %} {% block content %}

<div class="content-box">
    <h1>Register</h1>
    <br>
    <form method="POST">
        {% csrf_token %}
        <label>{{ form.username.label }}</label> {{ form.username }}
        <br>
        <br>
        <label>{{ form.password1.label }}</label> {{ form.password1 }}
        <br>
        <br>
        <label>{{ form.password2.label }}</label> {{ form.password2 }}
        <br>
        <br>
        <button class="btn" type="submit">Register</button>
    </form>

    <p>Already have an account?</p>
    <a href="{% url 'login' %}"><button class="btn">Login</button></a>
</div>

{% endblock content %}